/* Custom properties/variables */

:root {
    --main-white: #f0f0f0;
    --main-blue: #26303B;
    --main-sky: #26303B;
    --main-gray: #26303B;
}

/* Base reset */

* {
    margin: 0;
    padding: 0;
}

/* box-sizing and font sizing */

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 1.4;
    color: var(--main-white);
}

h1,
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    display: block;
    width: 100%;
}

/* nav */

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rem;
    }
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    font-size: 2.4rem;
    text-shadow: 2px 2px 8px #1f1f1f;
    transition: transform 0.1s ease-out;
}

.nav-list a:hover {
    transform: translateY(-2px);
}

/* Welcome section */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(64deg, #26303B 0%, #2A263B 100%);
}

.welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: #8197AE;
}

/* Events section */

.events-section {
    text-align: center;
    padding: 8rem 2rem;
    background: linear-gradient(128deg, #2E2C34 0%, #26373B 100%);
}

.events-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75rem) {
    .events-section-header {
        font-size: 4rem;
    }
}

/* "Automatic" image grid using no media queries */

.events-grid {
    display: table;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.events-list {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

@media (max-width: 30.625rem) {
    .events-section {
        padding: 6rem 1rem;
    }

    .events-grid {
        grid-template-columns: 1fr;
    }
}

.event {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.camera {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.event:hover .camera {
    color: #ff7f50;
}

.event-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.event-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.btn-show-all {
    font-size: 2rem;
    background: transparent;
    transition: 0.2s ease-out;
}

.btn-show-all:hover {
    transition: transform 0.1s ease-out;
}

.btn-show-all:hover > i {
    transform: translateX(2px);
}

.btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.2s ease-out;
}

/* Contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    background: linear-gradient(-128deg, #313F4D 0%, #292937 100%);
}

.contact-section-header > h2 {
    font-size: 6rem;
}

@media (max-width: 28.75em) {
    .contact-section-header > h2 {
        font-size: 4rem;
    }
}

.contact-section-header > p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 8px #1f1f1f;
    transition: transform 0.2s ease-out;
}

.contact-details:hover {
    transform: translateY(-8px);
}